<header>
  <div class="login_block">
    <ng-container *ngIf="userService.user;else login">
      <ng-container *ngTemplateOutlet="greeting"></ng-container>
    </ng-container>
  </div>
</header>

<ng-template #login>
  <label>
    <input type="text" class="form-control"
           placeholder="login"
           [(ngModel)]="inputLogin">
  </label>
  <label>
    <input type="text" class="form-control"
           placeholder="password"
           [(ngModel)]="inputPassword">
  </label>
  <button (click)="userLogin()">
    log in
  </button>
</ng-template>

<ng-template #greeting>
  {{userService.user.login}}
</ng-template>
