.grid {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
}

.user {
  float: right;
  background: darkgray;
}

.my-flex {
  width: 100%;
  min-width: 637px;
  margin-top: 10px;
  /*margin-left: 10px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}


.history-panel {
  margin-top: 10px;
  width: 200px;
  min-width: 200px;
  height: 800px;
  background: aqua;
}

.history-panel2 {
  margin-top: 10px;
  width: 200px;
  min-width: 200px;
  height: 1200px;
  background: aqua;
}
