<app-navigation>
</app-navigation>
<div>
  <div class="row">
    <div>
      <div class="history-panel">
      </div>
      <div class="history-panel2">
      </div>
    </div>
    <div class="my-flex" (window:resize)="onResize($event)" #webcamBlock>
      <div *ngFor="let user of users">
        <a [routerLink]="'model', user.login">
          <div [style.width]="width + 'px'"
               [style.height]="width + 'px'">

            <div class="user"
                 [style.width]="width - 12 + 'px'"
                 [style.height]="width - 12 + 'px'">
            </div>
            <!--        <webcam-->
            <!--          class="webcam"-->
            <!--          [width]="width - 12"-->
            <!--          [videoOptions]="videoOptions"-->
            <!--          [trigger]="triggerObservable">-->
            <!--        </webcam>-->
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
